/* margin and padding 0 */

* {
  margin: 0;
  padding: 0;
}

/* body */

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  max-height: 0 auto;
  max-width: 0 auto;
  padding: 25px;
}

/* nav var  */

.nav-tag{
  background-color: rgba(128, 128, 128, 0.526);
}

.nav-section {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.nav-container {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
}

.contain-text-img {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-h {
  font-size: 45px;
  font-weight: bolder;
}

/* list var */

.li-container {
  display: flex;
  gap: 50px;
  list-style: none;
}

/* img var */

.img-nav {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* a tag */

.nav-a-tag {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* btn-logo */

.btn-nav {
  width: 150px;
  padding: 20px;
  border-radius: 15px;
  background-color: aqua;
  font-size: 25px;
  color: black;
  border: 2px solid aqua;
}

/* nav hover style */

.btn-nav:hover {
  background-color: tomato;
  color: white;
  border: 2px solid tomato;
  cursor: pointer;
}

.nav-a-tag:hover{
  cursor: pointer;
  color: chartreuse;
}


/* hero section */

.Hero-section{
  padding: 20px;
  margin-top: 25px;
}

.hero-text-img-container{
  display: flex;
  justify-content: space-around;
}

.img-hero{
  height: 350px;
  width: 100%;
  border-radius: 25px;
}

.hero-text{
  width: 50%;
}

.hero-img{
  width: 50%;
}

.hero-h{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 25px;
  color: red;
}

.hero-p{
  font-size: 20px;
  font-weight: normal;
  color: purple;
  padding: 10px;
}

/* header done */

/* Achievements */

.achievements-section{
  margin-top: 45px;
  background-color: rgba(135, 207, 235, 0.631);
}

.achievements-text{
  margin-top: 35px;
  margin-bottom: 55px;
  padding: 40px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  align-items: center;
}

.achievements-h{
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: bold;
  align-items: center;
  color: blue;
}

.achievements-p{
  font-size: 30px;
  margin-bottom: 45px;
  align-items: center;
  text-align: center;
}

.achievements-container{
  display: flex;
  justify-content: space-around;
}

.fa-solid{
  gap: 25px;
  color: blue;
}


/* contact start */

.section-contact{
  margin-top: 45px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: gainsboro;
}

.contact-heading{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.contact-h{
  margin-bottom: 25px;
  font-size: 45px;
  font-weight: bold;
}

.contact-p{
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: normal;
}

.email-input{
  width: 400px;
  padding: 25px;
  outline-color: aqua;
  border: none;
  font-size: 20px;
  border-radius: 10px;
}

.btn-contact{
  width: 150px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  font-size: 20px;
  margin-left: 10px;
}

.btn-contact:hover{
  cursor: pointer;
  color: white;
  background-color: burlywood;
}


/* Footer Section */

.footer-section{
  margin-top: 45px;
  padding: 30px;
  background-color: black;
  color: aqua;
}

.text-and-img-footer{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.footer-img{
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-h{
  font-size: 35px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer-a{
  gap: 25px;
  text-decoration: none;
}

/* font icon */

.fa-brands{
  font-size: 30px;
  padding: 9.5px;
}

.footer-word{
  text-align: left;
}

.fa-brands:hover{
  cursor: pointer;
  color: aqua;
}

.footer-h3{
  font-size: 25px;
  margin-bottom: 15px;
}

.footer-h5{
  font-size: 20px;
}
